.about {
    padding-bottom: 3rem;
    padding-top: 3rem;
}

.about__title {
    color: var(--dark-gray);
    font-family: var(--monsterrat);
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1.25rem;
    padding-top: 1rem;
    text-align: center;
    text-transform: uppercase;
}

.about__title yellow {
    text-decoration: underline var(--yellow);
}

.about__text {
    line-height: normal;
    margin-bottom: 1rem;
    padding-top: 0.5rem;
}

.about__text--highlight {
    color: var(--dark-gray);
    font-weight: 700;
}

.about__platforms {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.about__pay-icon {
    width: 65px;
}

.about__image {
    box-shadow: 10px 10px 30px var(--middle-frame);
    height: auto;
    opacity: 1;
    width: 450px;
    /* margin-left: 40px; */
}

/* .about__image {
    display: none; -- this is being overwritten by display: block because it's under <section> wc is a block-level element
} */

@media screen and (min-width: 0px) {
    .about__image {
        align-items: center;
        display: flex;
        justify-content: center;
    }
}

@media screen and (min-width: 1024px) {
    .about {
        display: flex;
    }

    .about__content {
        margin-right: 3rem;
    }

    .about__title {
        text-align: left;
    }

    .about__text--division {
        border-bottom: 2px solid var(--top-frame);
        border-style:groove;
        padding-bottom: 2rem;
        padding-top: 1rem;
    }

    .about__image {
        display: block;
    }
}