.footer {
    align-items: center;
    padding-bottom: 2rem;
    background-color: var(--bg-footer);
    display: flex;
    flex-direction: column;
}

.footer__logo {
    width: 250px;
}

.footer__social {
    display: flex;
}

.footer__media {
    display: block;
    height: 42px;
    margin: 2rem 1rem;
    width: 42px;
}

.footer__nav {
    color: var(--white);
    line-height: 3;
    text-align: center;
}

.footer__link.active {
    color: var(--yellow);
}

.footer__link {
    display: inline-block;
    margin: 0 0.5rem 0.7rem;
}